#大模型密钥配置
DEEPSEEK_API_KEY=your_deepseek_api_key
DEEPSEEK_BASE_URL=https://api.deepseek.com/v1
DEEPSEEK_MODEL_NAME="deepseek-chat"
ALY_API_KEY=your_aliyun_api_key
#文件夹路径
SESSION_FOLDER="session"
LOGS_FOLDER="logs"
#会话限制
MAX_HISTORY=15
